@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #d32865, #1e0376);
}

input {
  border: none;
  appearance: none;
  font-family: 'Ubuntu',Tahoma, sans-serif;
  font-size: 20px;
}
input:invalid {
  border: 2px dashed red;
}
input:invalid:focus {
  border: 2px solid red;
}
input:valid:focus {
  border: none;
}

#error {
  color: white;
  font-size: 20px;
  border: 4px solid #d32865;
  border-radius: 3px;
}

@keyframes appear {
  from {
    opacity: 0.0;
  } 
  to {
    opacity: 1.0;
  }
}

@keyframes moveDown {
  from {
   
    top: -190px;
  } 
  to {
    
    top: 0px;
  }
}

#appContainer {
  width: 460px;
  height: 780px;
  border-radius: 10px;
  background-image: url("../images/sunset3.jpg");
}

h1 {
  font-family:  'Ubuntu', sans-serif;
  font-size: 38px;
  text-align: center;
  margin-top: 180px;
  color: white;
  position: relative;
  animation: appear 3s ease-in-out 0s forwards;
  animation: moveDown 2s ease-in 0s forwards;
}

#APIinfo {
  width: 80%;
  text-align: center;
  position: relative;
  
}

#openingMsg {
  margin-top: 10px;
  width: 100%;
  font-size: 17px;
  color: white;
  text-align: center;
}

#myHr {
  width: 100%;
  border: 1px solid white;
  border-radius: 1px;
  margin: 20px 10px 10px 10px;
}

form {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 2.7s ease-in-out 0s forwards;
  
}

#cityState {
  display: block;
  margin: 0.40rem auto;
  background-color: #f8f8f8;
  border: 0.5px solid #c0c0c0;
  border-radius: 6px;
  width: 75%;
  height: 2.3rem;
  justify-content: center;
  align-items: center;
}

#submit {
  background-color: #0e3e75;
  font-size: 20px;
  width: 75%;
  height: 2.8rem;
  border: none;
  border-radius: 6px;
  color: #fff;
  margin: 0.66rem;
  transition: all 0.25s ease-in;
  box-shadow: 10px 5px 5px #262323;
}

#submit:hover {
  transform: scale(1.04);
  /* border: 2px solid #ee8907; */
}

#userCity {
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: white;
}

#date {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}

.myAlign {
  width: 80%;
  font-size: 18px;
  text-align: justify;
  color: white;
  margin-bottom: 5px;
  padding-left: 15px;
}


